{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block content %}
    <h2 class="page-title">Checkout</h2>
    <p class="lead">Please check and confirm your order details below.</p>

    <br><br>

    <h3 class="mb-3">Your Order</h3>
    <div class="row">
        <div class="col-2">
            <img width="100%" src="{{ product.imageUrl }}" alt="{{ product.name }}">
        </div>
        <div class="col-10">
            <h5>{{ product.name }}</h5>
            <h5>&pound;{{ (product.price/100)|number_format(2, '.', ',') }}</h5>
            <p>{{ product.description|raw }}</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="text-center">
            <a class="btn btn-primary" href="/thanks" title="Confirm your order">Confirm Order</a>
        </div>
    </div>
{% endblock %}